<div class="booyah-box"> 
  <% if @hats.count == 0 %>
    <h2 class="text-center">No hats found! Please refine your search!</h2>
  <% else %>  
    <table class="table">
      <thead class="thead-dark">  
        <tr>
          <th><%= sortable 'id', 'ID' %></th>
          <th><%= sortable 'name' %></th>
          <th><%= sortable 'color' %></th>
          <th><%= sortable 'brand' %></th>
          <th><%= sortable 'style' %></th>
          <th><%= sortable 'team' %></th>
        </tr>
      </thead>
      <tbody>
        <% @hats.each do |hat| %>
          <tr>
            <td><%= hat.id %></td>
            <td><%= link_to hat.name, hat_path(hat) %></td>
            <td><%= hat.color.titleize %></td>
            <td><%= hat.brand %></td>
            <td><%= hat.style.titleize %></td>
            <td><%= hat.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>